/* You can add global styles to this file, and also import other style files */
.jumbotron{
    background-color: #333;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 25px;
    padding-left: 25px;
}